# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Virtual environments
venv/
.venv/

# Django
*.log
local_settings.py
*.sqlite3

# Environment
.env
.env.*

# ML artifacts
*.pkl

# OS
.DS_Store

# IDE
.vscode/
.idea/
